# p1
p1/*.exe
p1/out/*
p1/tar/*
p1/*.txt
p1/inputfile
p1/wis-tar
p1/reverse
#P1B /p1 - exclude xv6 files
# !p1/xv6/
# p1/xv6/*
# !p1/xv6/xv6-fa20/
# p1/xv6/xv6-fa20/*
# p1/xv6/xv6-fa20/include/*
# !p1/xv6/xv6-fa20/include/
# !p1/xv6/xv6-fa20/include/syscall.h
# p1/xv6/xv6-fa20/kernel/*
# !p1/xv6/xv6-fa20/kernel/
# !p1/xv6/xv6-fa20/kernel/getwritecount.c
# !p1/xv6/xv6-fa20/kernel/proc.h
# !p1/xv6/xv6-fa20/kernel/syscall.c
# !p1/xv6/xv6-fa20/kernel/sysfile.c
# !p1/xv6/xv6-fa20/kernel/sysfunc.h
# p1/xv6/xv6-fa20/user/*
# !p1/xv6/xv6-fa20/user/
# !p1/xv6/xv6-fa20/user/usys.S
# !p1/xv6/xv6-fa20/user/user.h
# !p1/xv6/xv6-fa20/user/makefile.mk
# !p1/xv6/xv6-fa20/user/testgetwritecount.c

# p1b
p1b/*
!p1b/xv6-fa20/
p1b/xv6-fa20/*
p1b/xv6-fa20/include/*
!p1b/xv6-fa20/include/
!p1b/xv6-fa20/include/syscall.h
p1b/xv6-fa20/kernel/*
!p1b/xv6-fa20/kernel/
!p1b/xv6-fa20/kernel/getwritecount.c
!p1b/xv6-fa20/kernel/proc.h
!p1b/xv6-fa20/kernel/syscall.c
!p1b/xv6-fa20/kernel/sysfile.c
!p1b/xv6-fa20/kernel/sysfunc.h
p1b/xv6-fa20/user/*
!p1b/xv6-fa20/user/
!p1b/xv6-fa20/user/usys.S
!p1b/xv6-fa20/user/user.h
!p1b/xv6-fa20/user/makefile.mk
!p1b/xv6-fa20/user/testgetwritecount.c

#p2a
p2a/*
!p2a/*.c
!p2a/*.h
!*/Makefile

# p2b
# p2b/xv6/*
# !p2b/xv6/
# p2b/xv6/xv6-fa20/*
# !p2b/xv6/xv6-fa20/
# p2b/xv6/xv6-fa20/include/*
# !p2b/xv6/xv6-fa20/include/
# !p2b/xv6/xv6-fa20/include/pstat.h
# !p2b/xv6/xv6-fa20/include/param.h
# p2b/xv6/xv6-fa20/kernel/*
# !p2b/xv6/xv6-fa20/kernel/
# !p2b/xv6/xv6-fa20/kernel/proc.c
# !p2b/xv6/xv6-fa20/kernel/proc.h
# p2b/xv6/xv6-fa20/user/*
# !p2b/xv6/xv6-fa20/user/
p2b/xv6/xv6.tar.gz
*.swp
p2b/xv6/runtests.log


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
